*.java linguist-language=Java
*.fxml linguist-language=FXML
Documentation/* linguist-documentation
TicTacToeFX/build/* linguist-documentation
TicTacToeFX/dist/* linguist-documentation
TicTacToeFX/nbproject/* linguist-documentation
TicTacToeFX/resources/* linguist-documentation
TicTacToeFX/test/* linguist-documentation
TicTacToeFX/build.xml linguist-documentation
TicTacToeFX/manifest.mf linguist-documentation
TicTacToeFX/Notes.txt linguist-documentation